---
http_interactions:
- request:
    method: get
    uri: http://stores.staging.musictoday.com/api/0.4/catalog/content/12/?apikey=example_api_key&apiuser=example&size=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Wildfly-Host:
      - 02q
      X-Apache-Host:
      - 04p
    body:
      encoding: ASCII-8BIT
      string: '{"timestamp":"2016-01-28T14:06:30Z","catalogName":null,"catalogPath":"","numProducts":3,"catalogType":null,"pageSize":1000,"pageNumber":1,"products":[{"imageUrlSmall":"http://static.musictoday.com/store/bands/12/product_small/AAA001.JPG","imageUrlLarge":"http://static.musictoday.com/store/bands/12/product_large/AAA001.JPG","lastUpdated":"2016-01-27T20:05:00Z","imageUrl50x50":"http://static.musictoday.com/store/bands/12/product_50/AAA001.JPG","lang":{"en":{"textDesc":"Merry Jane Culture T-Shirt - Black\n\nPlease note: This item is available for pre-order.\nYour entire order will ship in mid-January 2016.\n \n ","longDesc":"","shortDesc":"Merry Jane Culture T-Shirt - Black\n<br /><br />\n<b>Please note: This item is available for pre-order.</b><br />\nYour entire order will ship in mid-January 2016.\n<br /><br />"}},"id":"AAA001","categoryName":"T-Shirts","imageUrlMedium":"http://static.musictoday.com/store/bands/12/product_medium/AAA001.JPG","imageUrl205x205":"http://static.musictoday.com/store/bands/12/product_205/AAA001.JPG","listPrice":24.99,"name":"Amazing T-Shirt","variants":[{"releaseDate":null,"itemClass":"WEAR-U-SHR","listPrice":24.99,"qtyShip":0,"lastUpdated":"2016-01-08T23:30:00Z","shippingCost":5.26,"salePrice":null,"shipDate":"2016-01-18T05:00:00Z","qtyAvailable":1299,"sku":"AAA001SLBK","variantNames":[{"Size":"Large"}]},{"releaseDate":null,"itemClass":"WEAR-U-SHR","listPrice":24.99,"qtyShip":0,"lastUpdated":"2016-01-08T23:30:00Z","shippingCost":5.26,"salePrice":null,"shipDate":"2016-01-18T05:00:00Z","qtyAvailable":1299,"sku":"AAA001SZBK","variantNames":[{"Size":"XX-Large"}]}],"storeProductUrl":"example.shop.musictoday.com/Product.aspx?pc=AAA001","variantLabels":["Size"]},{"imageUrlSmall":"http://static.musictoday.com/store/bands/12/product_small/AAA002.JPG","imageUrlLarge":"http://static.musictoday.com/store/bands/12/product_large/AAA002.JPG","lastUpdated":"2016-01-27T20:05:00Z","imageUrl50x50":"http://static.musictoday.com/store/bands/12/product_50/AAA002.JPG","lang":{"en":{"textDesc":"Merry Jane Culture T-Shirt - Black\n\nPlease note: This item is available for pre-order.\nYour entire order will ship in mid-January 2016.\n \n ","longDesc":"","shortDe[...]
