---
http_interactions:
- request:
    method: post
    uri: http://stores.staging.musictoday.com/api/0.4/order/shippingOptionsGet?apikey=example_api_key&apiuser=example
    body:
      encoding: UTF-8
      string: '{"storeId":12,"address":{"street":"5391 Three Notched Road","street2":"","city":"Crozet","state":"VA","postalCode":"22932","country":"US"},"lineItems":[{"sku":"AAA002SLBK","qty":1,"price":24.99}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Wildfly-Host:
      - 02q
      X-Apache-Host:
      - 02p
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[],"shippingOptions":[{"shippingOptionType":"STANDARD","deliveryDate":null,"totalRate":6.29,"shippingOptionName":"Standard (5-9 business days)"},{"shippingOptionType":"EXPEDITED","deliveryDate":null,"totalRate":14.11,"shippingOptionName":"Expedited (3-7 business days)"},{"shippingOptionType":"2DAY","deliveryDate":"2016-02-01T00:00:00","totalRate":20.5,"shippingOptionName":"2 business days"},{"shippingOptionType":"1DAY","deliveryDate":"2016-01-29T00:00:00","totalRate":27.02,"shippingOptionName":"1 business day"}]}'
  recorded_at: Thu, 28 Jan 2016 15:19:59 GMT
recorded_with: VCR 3.0.1
