---
http_interactions:
- request:
    method: post
    uri: http://stores.staging.musictoday.com/api/0.4/cart/pricing?apikey=example_api_key&apiuser=example
    body:
      encoding: UTF-8
      string: '{"storeId":12,"currency":"USD","priceLevel":"","addresses":[{"street":"5391
        Three Notched Road","street2":"","state":"Crozet","city":"VA","postalCode":"22932","country":"US","shippingOptionType":"STANDARD","id":1,"items":[{"sku":"AAA002SLBK","qty":1,"quantity":1,"price":24.99}]}],"promotions":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Wildfly-Host:
      - 02q
      X-Apache-Host:
      - 02p
    body:
      encoding: ASCII-8BIT
      string: '{"currency":"USD","addresses":[{"sessionId":"FAKE-SESSION-NUMBER","errors":[],"id":1,"street":"5391 Three Notched Road","street1":"","city":"VA","state":"Crozet","postalCode":"22932","country":"US","preferredShippingOption":"STANDARD","shippingOptions":[],"items":[{"comboSku":"","listPrice":24.99,"name":"Amazing T-Shirt","price":24.99,"quantity":1,"sku":"AAA002SLBK","tax":10.25,"taxRate":0,"total":24.99}],"promotions":[]}]}'
  recorded_at: Thu, 28 Jan 2016 15:47:31 GMT
recorded_with: VCR 3.0.1
