---
http_interactions:
- request:---
http_interactions:
- request:
    method: post
    uri: http://stores.staging.musictoday.com/api/0.4/cart/pricing?apikey=example_api_key&apiuser=example
    body:
      encoding: UTF-8
      string: '{"storeId":12,"currency":"USD","priceLevel":"","addresses":[{"street":"Nye Regional Medical Center","street2":"","state":"IL","city":"Chicago","postalCode":"22699","country":"US","shippingOptionType":"CHEAPEST","id":1,"items":[{"sku":"AAA002SLBK","qty":1,"quantity":1,"price":0.99,"destIndex":0}]}],"promotions":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Wildfly-Host:
      - 02q
      X-Apache-Host:
      - 01p
    body:
      encoding: ASCII-8BIT
      string: '{"currency":"USD","addresses":[{"sessionId":"FAKE-SESSION-NUMBER","errors":[],"id":1,"street":"5391 Three Notched Road","street1":"","city":"VA","state":"Crozet","postalCode":"22932","country":"US","preferredShippingOption":"STANDARD","shippingOptions":[],"items":[{"comboSku":"","listPrice":24.99,"name":"Amazing T-Shirt","price":24.99,"quantity":1,"sku":"AAA002SLBK","tax":10.25,"taxRate":0,"total":24.99}],"promotions":[]}]}'
  recorded_at: Thu, 04 Feb 2016 16:35:28 GMT
- request:
    method: post
    uri: http://stores.staging.musictoday.com/api/0.4/order/submit?apikey=example_api_key&apiuser=example
    body:
      encoding: UTF-8
      string: '{"orders":[{"storeId":12,"channel":"fake_channel","orderDate":"2016-02-04T13:41:26-03:00","clientOrderId":"EXA1454604086","clientCustomerId":"EXA1454604086","sendConfEmail":true,"sendDigitalConfEmail":true,"applyFraudCheck":true,"validateOnly":false,"taxPrepaid":false,"billing":{"customer":{"firstName":"fake_name","lastName":"fake_surname","street":"Nye Regional Medical Center","street2":"","city":"Chicago","state":"IL","postalCode":"22699","country":"US","phone":"12-456-7890","email":"fake@email.com"},"payments":[{"type":"VISA","accountNumber":"4716938445825308","expYear":2016,"expMonth":2,"nameOnCard":"fake name on card","amount":2500}]},"currency":"USD","destinations":[{"requestedShippingOption":"CHEAPEST","shippingCost":250,"shipToBillTo":false,"address":{"firstName":"fake_name","lastName":"fake_surname","street":"Nye Regional Medical Center","street2":"","city":"Chicago","state":"IL","postalCode":"22699","country":"US","phone":"12-456-7890","email":"fake@email.com"}}],"lineItems":[{"sku":"AAA002SLBK","qty":1,"quantity":1,"price":24.99,"tax":10.25,"total":24.99}],"promotions":[]}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      X-Wildfly-Host:
      - 02q
      X-Apache-Host:
      - 01p
    body:
      encoding: ASCII-8BIT
      string: '{ "errors": [{ "message": "Order has errors!", "clientOrderId": "MJT1454352115", "errorDetails": { "lineItemErrors": [], "billingErrors": [ "Street1TooLong", "InvalidAddr" ], "destinationErrors": [], "headerErrors": [], "paymentErrors": [] }, "code": "ORDFAIL" }], "orders": {} }'
  recorded_at: Mon, 01 Feb 2016 18:30:18 GMT
recorded_with: VCR 3.0.1
